<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="net.claudiomedeiros.xls"
        version="0.1.0">
    <name>Xls</name>
    <description>A Phonegap plugin to save XLS files</description>
    <license>MIT</license>
    <keywords>phonegap,xls</keywords>
 
 
    <js-module src="www/xls.js" name="Xls">
        <clobbers target="window.xls" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Xls">
                <param name="android-package" value="net.claudiomedeiros.xls.Xls"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Xls.java" target-dir="src/net/claudiomedeiros/xls" />      
        <source-file src="lib/android/jxl.jar" target-dir="libs" />      
     </platform>          
</plugin>